# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#intelliJ
/.idea
/target
/shade
**/.iml

#MacOS
**/.DS_Store
