# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#intelliJ
/.idea
/*.iml
/target

#MacOS
/*.DS_Store
src/main/java/it/polimi/ingsw/model/gameresources/.DS_Store
src/main/java/it/polimi/ingsw/model/cards/.DS_Store
src/main/java/it/polimi/ingsw/model/.DS_Store
src/main/java/it/polimi/ingsw/.DS_Store
src/main/java/it/polimi/.DS_Store
src/main/java/it/.DS_Store
src/main/java/.DS_Store
src/main/.DS_Store
src/.DS_Store
